<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RespondentAnswers</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title is-inline-block">Ответы респондентов</h2>
          <a class="button is-pulled-right" @click="JSONToCSVConvertor(respondentanswers,'Answers',true)">

              Экспорт

          </a>
        <respondentanswer v-for="(respondentanswer,id) in respondentanswers"
            :key="id"
            :respondentanswer="respondentanswer"
            @save-respondentanswer="onAddOrUpdateRespondentAnswer" 
            @delete-respondentanswer="deleteRespondentAnswer" />
    </section>
    <!-- <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <add-update-respondentanswer title="Добавить вопрос" @save-respondentanswer="onAddOrUpdateRespondentAnswer" />
      </div>
    </section> -->
  </div>
  <script>
  const AddUpdateRespondentAnswer = {
    props: ['respondentanswer', 'title'],
    data () {
      return {
        id: this.respondentanswer ? this.respondentanswer.id : null,
        name: this.respondentanswer ? this.respondentanswer.name : '',
        content: [],
        userId: this.respondentanswer ? this.respondentanswer.userId : '',
		    surveyId: '',
      }
    },
    created: function(){
      var pageURL =  window.location.href;
      var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      this.surveyId = lastURLSegment;
      this.content = JSON.parse(this.respondentanswer.content);
    },
    template: `
      <div>
        <h3 class='subtitle'>{{ title }}</h3>
        <div class="field">
            <template v-for="(value,name) in content">
              <p><b>{{name}}</b></p>
              <p>{{value}}</p>
            </template>
        </div>
      </div>
    `
  }

  const RespondentAnswer = {
    props: ['respondentanswer'],
    components: { 'add-update-respondentanswer': AddUpdateRespondentAnswer },
    data () {
      return {
        showDetail: false,
        removeModal: false
      }
    },
    methods: {
      onAddOrUpdateRespondentAnswer(respondentanswer) {
        this.$emit('save-respondentanswer', respondentanswer)
      },
      deleteRespondentAnswer (respondentanswer) {
        this.$emit('delete-respondentanswer', respondentanswer);
        this.removeModal = false
      },
      goTo (id) {
		if (type == 9 || type == 6){
			window.location.href = '/adminq/respondentanswer/' + id;
		}
      }
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ respondentanswer.name }}
          </p>
          <a class="card-header-icon" @click="showDetail = !showDetail">
            <span class="icon">
              <i class="fa fa-eye"></i>
            </span>
          </a>
          <a class="card-header-icon" @click="removeModal = true">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="modal is-active" v-show="removeModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <section class="modal-card-body">
              Вы действительно хотите удалить ответ пользователя?
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" @click="deleteRespondentAnswer(respondentanswer)">Удалить</button>
              <button class="button" @click="removeModal = false">Отмена</button>
            </footer>
          </div>
        </div>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-respondentanswer title="Ответы респондента" :respondentanswer="respondentanswer" @save-respondentanswer="onAddOrUpdateRespondentAnswer" />
        </div>
      </div>
    `
  }

  new Vue({
    el: '#app',
    components: { respondentanswer: RespondentAnswer, 'add-update-respondentanswer': AddUpdateRespondentAnswer },
    data: {
      respondentanswers: [],
      apiURL: '/api/respondents'
    },
    methods: {
      onAddOrUpdateRespondentAnswer (respondentanswer) {
        if (respondentanswer.id) {
          this.updateRespondentAnswer(respondentanswer)
        } else {
          this.addRespondentAnswer(respondentanswer)
        }
      },
      addRespondentAnswer (respondentanswer) {
        return axios.post(this.apiURL, respondentanswer)
          .then((response) => {
            const copy = this.respondentanswers.slice()
            copy.push(response.data)
            this.respondentanswers = copy
          })
      },
      updateRespondentAnswer (respondentanswer) {
        return axios.put(`${this.apiURL}/${respondentanswer.id}`, respondentanswer)
          .then((response) => {
            const copy = this.respondentanswers.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.respondentanswers = copy
          })
      },
      deleteRespondentAnswer (respondentanswer) {
        console.log('deleting', respondentanswer)
        return axios.delete(`${this.apiURL}/${respondentanswer.id}`)
          .then((response) => {
            let copy = this.respondentanswers.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy.splice(idx, 1)
            this.respondentanswers = copy
          })
      },
      JSONToCSVConvertor (JSONData, ReportTitle, ShowLabel) {
        //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
        var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
        
        var CSV = 'sep=,' + '\r\n\n';

        //This condition will generate the Label/Header
        if (ShowLabel) {
            var row = "";
            
            //This loop will extract the label from 1st index of on array
            for (var index in arrData[0]) {
                
                //Now convert each value to string and comma-seprated
                if (index != 'content') {
                  row += index + ',';
                }
            }

            row = row.slice(0, -1);
            
            //append Label row with line break
            CSV += row + '\r\n';
        }
        
        //1st loop is to extract each row
        for (var i = 0; i < arrData.length; i++) {
            var row = "";
            
            //2nd loop will extract each column and convert it in string comma-seprated
            for (var index in arrData[i]) {
              if (index != 'content') {
                row += '"' + arrData[i][index] + '",';
              }
            }

            row.slice(0, row.length - 1);
            
            //add a line break after each row
            CSV += row + '\r\n';
        }

        if (CSV == '') {        
            alert("Invalid data");
            return;
        }   
        
        //Generate a file name
        var fileName = "MyReport_";
        //this will remove the blank-spaces from the title and replace it with an underscore
        fileName += ReportTitle.replace(/ /g,"_");   
        
        //Initialize file format you want csv or xls
        var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);
        var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(CSV);
        
        // Now the little tricky part.
        // you can use either>> window.open(uri);
        // but this will not work in some browsers
        // or you will not get the correct file extension    
        
        //this trick will generate a temp <a /> tag
        var link = document.createElement("a");    
        link.href = uri;
        
        //set the visibility hidden so it will not effect on your web-layout
        link.style = "visibility:hidden";
        link.download = fileName + ".csv";
        
        //this part will append the anchor tag and remove it after automatic click
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    },
    beforeMount () {
      var pageURL =  window.location.href;
      var idUrl = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      axios.get(this.apiURL)
        .then((response) => {
          const q = []
          
          response.data.forEach(function(element) {
            if (element.surveyId == idUrl) {
              let user = [];
              user['manager'] = element.User.name;
              user['city'] = element.User.city;
              user['store'] = element.User.shop;
              user['managerMail'] = element.User.email;
              user['managerPhone'] = element.User.phone;
              var insideContent = JSON.parse(element.content);
              let merged = {...element, ...insideContent, ...user};
              q.push(merged);
            }
          });
          this.respondentanswers = q
        })
    }
  })

  </script>
</body>
</html>

