<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title">Пользователи</h2>
        <user v-for="user in users"
            :key="user.name"
            :user="user"
			@save-user="onAddOrUpdateUser"
			@delete-user="deleteUser" />
    </section>
    <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <add-update-user title="Добавить пользователя" @save-user="onAddOrUpdateUser" />
	  </div>
	</section>
	
  </div>
  <script>
  const AddUpdateUser = {
    props: ['user', 'title'],
    data () {
      return {
        id: this.user ? this.user.id : null,
        name: this.user ? this.user.name : '',
        email: this.user ? this.user.email : '',
        password: this.user ? this.user.password : '',
        city: this.user ? this.user.city : '',
        shop: this.user ? this.user.shop : '',
        cities: [
          "Выберите город",
          "Алматы",
          "Капчагай",
          "Талгар",
          "Талдыкорган",
          "Тараз",
          "Шымкент",
          "Туркестан",
          "Кызылорда",
          "Бишкек",
          "Караганда",
          "Костанай",
          "Рудный",
          "Темиртау",
          "Балхаш",
          "Актау",
          "Атырау",
          "Кульсары",
          "Атырау",
          "Жанаозен",
          "Актобе",
          "Уральск",
          "Астана",
          "Петропавловск",
          "Жезказган",
          "Кокшетау",
          "Сатпаев",
          "Павлодар",
          "Усть-Каменогорск",
          "Экибастуз",
          "Семей",
        ],
        stores: [
          {city: "Алматы", shop: "Магазин Алматы Нижний"},
          {city: "Алматы", shop: "Магазин Алматы Хай Тек"},
          {city: "Алматы", shop: "Магазин Алматы Коктем"},
          {city: "Алматы", shop: "Магазин Алматы Армада"},
          {city: "Алматы", shop: "Магазин Алматы Мега"},
          {city: "Алматы", shop: "Магазин Алматы Прайм-Плаза"},
          {city: "Алматы", shop: "Магазин Алматы Апорт - Молл"},
          {city: "Алматы", shop: "Магазин Алматы Айнабулак"},
          {city: "Алматы", shop: "Магазин Алматы Март"},
          {city: "Алматы", shop: "Магазин Алматы Мега Парк"},
          {city: "Алматы", shop: "Магазин Алматы B&O Вилла"},
          {city: "Алматы", shop: "Магазин Алматы City Center"},
          {city: "Алматы", shop: "Магазин Алматы Рамстор"},
          {city: "Алматы", shop: "Магазин Алматы Мэтро"},
          {city: "Алматы", shop: "Магазин Алматы Тумар"},
          {city: "Алматы", shop: "Магазин Алматы City Plus"},
          {city: "Алматы", shop: "Магазин Алматы Форум"},
          {city: "Капчагай", shop: "Магазин Капчагай City Plus"},
          {city: "Талгар", shop: "Магазин Талгар"},
          {city: "Талдыкорган", shop: "Магазин Талдыкорган Желтоксан"},
          {city: "Талдыкорган", shop: "Магазин Талдыкорган Абая"},
          {city: "Тараз", shop: "Магазин Тараз"},
          {city: "Тараз", shop: "Магазин Тараз ДосНар"},
          {city: "Тараз", shop: "Магазин Тараз-3"},
          {city: "Тараз", shop: "Магазин Тараз Жамбыла"},
          {city: "Шымкент", shop: "Магазин Шымкент Мега"},
          {city: "Шымкент", shop: "Магазин Шымкент Айна"},
          {city: "Шымкент", shop: "Магазин Шымкент Керемет"},
          {city: "Шымкент", shop: "Магазин Шымкент Жангильдина"},
          {city: "Шымкент", shop: "Магазин Шымкент Рыскулова"},
          {city: "Туркестан", shop: "Магазин Туркестан"},
          {city: "Кызылорда", shop: "Магазин Кызылорда"},
          {city: "Бишкек", shop: "Магазин Бишкек Ларель"},
          {city: "Бишкек", shop: "Магазин Бишкек Азия Молл"},
          {city: "Бишкек", shop: "Магазин Бишкек Ала Арча"},
          {city: "Бишкек", shop: "Магазин Бишкек ГУМ"},
          {city: "Караганда", shop: "Магазин Караганда"},
          {city: "Караганда", shop: "Магазин Караганда Абзал"},
          {city: "Караганда", shop: "Магазин Караганда Ануар"},
          {city: "Костанай", shop: "Магазин Костанай"},
          {city: "Костанай", shop: "Магазин Костанай Март"},
          {city: "Костанай", shop: "Магазин Костанай Плаза"},
          {city: "Рудный", shop: "Магазин Рудный"},
          {city: "Темиртау", shop: "Магазин Темиртау"},
          {city: "Балхаш", shop: "Магазин Балхаш"},
          {city: "Актау", shop: "Магазин Актау Жигер"},
          {city: "Актау", shop: "Магазин Актау Байтерек"},
          {city: "Атырау", shop: "Магазин Атырау"},
          {city: "Атырау", shop: "Магазин Атырау Насиха"},
          {city: "Атырау", shop: "Магазин Атырау Нурсая"},
          {city: "Атырау", shop: "Магазин Атырау Дина"},
          {city: "Кульсары", shop: "Магазин Кульсары"},
          {city: "Жанаозен", shop: "Магазин Жанаозен"},
          {city: "Актобе", shop: "Магазин Актобе"},
          {city: "Актобе", shop: "Магазин Актобе Мега"},
          {city: "Актобе", shop: "Магазин Актобе Мэтро"},
          {city: "Уральск", shop: "Магазин Уральск"},
          {city: "Уральск", shop: "Магазин Уральск Алем Плаза"},
          {city: "Уральск", shop: "Магазин Уральск Азия Молл"},
          {city: "Астана", shop: "Магазин Астана Керуен"},
          {city: "Астана", shop: "Магазин Астана Бахус"},
          {city: "Астана", shop: "Магазин Астана Азия Тау"},
          {city: "Астана", shop: "Магазин Астана Республика"},
          {city: "Астана", shop: "Магазин Астана Грин"},
          {city: "Астана", shop: "Магазин Астана Алем"},
          {city: "Астана", shop: "Магазин Астана Мега Silk Way"},
          {city: "Астана", shop: "Магазин Астана Рахмет"},
          {city: "Астана", shop: "Магазин Астана Сарыарка"},
          {city: "Петропавловск", shop: "Магазин Петропавловск"},
          {city: "Жезказган", shop: "Магазин Жезказган"},
          {city: "Кокшетау", shop: "Магазин Кокшетау"},
          {city: "Сатпаев", shop: "Магазин Сатпаев"},
          {city: "Павлодар", shop: "Магазин Павлодар"},
          {city: "Павлодар", shop: "Магазин Павлодар Лермонтова"},
          {city: "Усть-Каменогорск", shop: "Магазин Усть-Каменогорск Бажова"},
          {city: "Усть-Каменогорск", shop: "Магазин Усть-Каменогорск Даниэль"},
          {city: "Усть-Каменогорск", shop: "Магазин Усть-Каменогорск Альшемали"},
          {city: "Усть-Каменогорск", shop: "Магазин Усть-Каменогорск Достоевского 13"},
          {city: "Экибастуз", shop: "Магазин Экибастуз"},
          {city: "Семей", shop: "Магазин Семей"},
          {city: "Семей", shop: "Магазин Семей ЦУМ"}
        ]
      }
    },
    methods: {
      filtered(city) {
        return this.stores.filter(event => {
          return event.city == city
        })
      },
      save() {
        this.$emit('save-user', { id: this.id, name: this.name, email: this.email, password: this.password, city: this.city, shop: this.shop })
        if (!this.id) {
          this.name = '',
          this.email = '',
          this.password = '',
          this.city = '',
          this.shop = ''
        }
	    }
    },
    template: `
      <form class="form" @submit.prevent="save">
        <h3 class='subtitle'>{{ title }}</h3>
        <div class="field">
            <label>Имя пользователя</label>
            <div class="control">
              <input class="input" type="text" v-model="name">
            </div> 
		</div>
		<div class="field">
      <label>E-mail</label>
      <div class="control">
        <input class="input" type="text" v-model="email">
      </div> 
    </div>
    <div class="field">
      <label>Выберите город</label>
      <div class="select">
        <select v-model="city">
          <option v-for="option in cities">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="field">
      <label>Выберите магазин</label>
      <div class="select">
        <select v-model="shop">
          <option v-for="option in filtered(city)">
            {{ option.shop }}
          </option>
        </select>
      </div>
    </div>
		<div class="field">
            <label>Пароль</label>
            <div class="control">
              <input class="input" type="password" v-model="password">
            </div> 
        </div>
        <div class="field">
            <div class="control">
              <button class="button is-success">Сохранить</button>
            </div> 
    </div>
    </form>
    `
  }

  const User = {
    props: ['user'],
    components: { 'add-update-user': AddUpdateUser },
    data () {
      return {
        showDetail: false,
        removeModal: false,
        
      }
    },
    methods: {
      onAddOrUpdateUser(user) {
        this.$emit('save-user', user)
      },
      deleteUser (user) {
        this.$emit('delete-user', user);
        this.removeModal = false;
      },
      goTo (id) {
        window.location.href = '/adminq/user/' + id;
	  },
	  goToRespondent (id) {
        window.location.href = '/adminq/respondent/' + id;
	  },
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ user.name }} <span v-if="user.RespondentAnswers && user.RespondentAnswers.length > 0">({{user.RespondentAnswers.length}}) </span> 
            <span class="subtitle is-6">
               - {{user.city}}:{{user.shop}}
            </span>
          </p>
          
          <a class="card-header-icon" @click="showDetail = !showDetail">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
          </a>
          <a class="card-header-icon" @click="removeModal = true">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="modal is-active" v-show="removeModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <section class="modal-card-body">
              Вы действительно хотите удалить пользователя?
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" @click="deleteUser(user)">Удалить</button>
              <button class="button" @click="removeModal = false">Отмена</button>
            </footer>
          </div>
          </div>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-user title="Details" :user="user" @save-user="onAddOrUpdateUser" />
        </div>
    </div>
    `
  }


  new Vue({
    el: '#app',
    components: { user: User, 'add-update-user': AddUpdateUser },
    data: {
	  users: [],
      apiURL: '/api/users',
    },
    methods: {
      onAddOrUpdateUser (user) {
        if (user.id) {
          this.updateUser(user)
        } else {
          this.addUser(user)
        }
	  },
      addUser (user) {
        return axios.post(this.apiURL, user)
          .then((response) => {
            const copy = this.users.slice()
            copy.push(response.data)
            this.users = copy
          })
      },
      updateUser (user) {
        return axios.put(`${this.apiURL}/${user.id}`, user)
          .then((response) => {
            const copy = this.users.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.users = copy
          })
      },
      deleteUser (user) {
        console.log('deleting', user)
        return axios.delete(`${this.apiURL}/${user.id}`)
          .then((response) => {
            let copy = this.users.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy.splice(idx, 1)
            this.users = copy
          })
      }
    },
    beforeMount () {
      axios.get(this.apiURL)
        .then((response) => {
          this.users = response.data
        })
    }
  })

  </script>
</body>
</html>

