<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Answers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title">Ответы</h2>
        <answer v-for="answer in answers"
            :key="answer.name"
            :answer="answer"
            @save-answer="onAddOrUpdateAnswer" 
            @delete-answer="deleteAnswer" />
    </section>
    <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <add-update-answer title="Добавить Ответ" @save-answer="onAddOrUpdateAnswer" />
      </div>
    </section>
  </div>
  <script>
  const AddUpdateAnswer = {
    props: ['answer', 'title'],
    data () {
      return {
        id: this.answer ? this.answer.id : null,
        name: this.answer ? this.answer.name : '',
        checked: false,
        questionId: ''
      }
    },
    created: function(){
      var pageURL =  window.location.href;
      var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      this.questionId = lastURLSegment;
    },
    methods: {
      save() {
        this.$emit('save-answer', { id: this.id, name: this.name, checked: this.checked, questionId: this.questionId})
        if (!this.id) {
          this.name = ''
        //   this.checked = false
          // this.surveyId = ''
        }
      }
    },
    template: `
      <form class="form" @submit.prevent="save">
        <h3 class='subtitle'>{{ title }}</h3>
        <div class="field">
            <label>Название опроса</label>
            <div class="control">
              <input class="input" type="text" v-model="name">
            </div> 
        </div>
        <div class="field">
            <div class="control">
              <button class="button is-success">Сохранить</button>
            </div> 
        </div>
      </form>
    `
  }

  const Answer = {
    props: ['answer'],
    components: { 'add-update-answer': AddUpdateAnswer },
    data () {
      return {
        showDetail: false,
        removeModal: false
      }
    },
    methods: {
      onAddOrUpdateAnswer(answer) {
        this.$emit('save-answer', answer)
      },
      deleteAnswer (answer) {
        this.$emit('delete-answer', answer);
        this.removeModal = false
      }
    },
    template: `
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ answer.name }}
          </p>
          <a class="card-header-icon" @click="showDetail = !showDetail">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
          </a>
          <a class="card-header-icon" @click.stop="removeModal = true">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="modal is-active" v-show="removeModal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <section class="modal-card-body">
              Вы действительно хотите удалить вариант ответа?
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" @click="deleteAnswer(answer)">Удалить</button>
              <button class="button" @click="removeModal = false">Отмена</button>
            </footer>
          </div>
          </div>
        </header>
        <div v-show="showDetail" class="card-content">
            <add-update-answer title="Details" :answer="answer" @save-answer="onAddOrUpdateAnswer" />
        </div>
      </div>
    `
  }


  new Vue({
    el: '#app',
    components: { answer: Answer, 'add-update-answer': AddUpdateAnswer },
    data: {
      answers: [],
      apiURL: '/api/answers'
    },
    methods: {
      onAddOrUpdateAnswer (answer) {
        if (answer.id) {
          this.updateAnswer(answer)
        } else {
          this.addAnswer(answer)
        }
      },
      addAnswer (answer) {
        return axios.post(this.apiURL, answer)
          .then((response) => {
            const copy = this.answers.slice()
            copy.push(response.data)
            this.answers = copy
          })
      },
      updateAnswer (answer) {
        return axios.put(`${this.apiURL}/${answer.id}`, answer)
          .then((response) => {
            const copy = this.answers.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy[idx] = response.data
            this.answers = copy
          })
      },
      deleteAnswer (answer) {
        console.log('deleting', answer)
        return axios.delete(`${this.apiURL}/${answer.id}`)
          .then((response) => {
            let copy = this.answers.slice()
            const idx = copy.findIndex((c) => c.id === response.data.id)
            copy.splice(idx, 1)
            this.answers = copy
          })
      }
    },
    beforeMount () {
      var pageURL =  window.location.href;
      var idUrl = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      axios.get(this.apiURL)
        .then((response) => {
          const q = []
          response.data.forEach(function(element) {
            if (element.questionId == idUrl) {
              q.push(element);
            }
          });
          this.answers = q
        })
    }
  })

  </script>
</body>
</html>

