<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title">Вход</h2>
    </section>
    <section class="section section-container" style="padding-bottom: 10px;">
      <div class="box">
        <login-user title="Войти" />
	  </div>
	</section>
	
  </div>
  <script>
  const LoginUser = {
    props: ['user', 'title'],
    data () {
      return {
        id: this.user ? this.user.id : null,
        email: this.user ? this.user.email : '',
        password: this.user ? this.user.password : '',
        errorMessage: null
      }
    },
    methods: {
	  login () {
		return axios.post('/api/login', {
			email: this.email,
            password: this.password
		})
          .then((response) => {
            if (response.data.status == false) {
                this.errorMessage = response.data.message;
            } else {
                window.location.href = '/surveys/';
                localStorage.setItem('userId', response.data.userId);
            }
          })
	  }
    },
    template: `
      <form class="form" @submit.prevent="login">
        <h3 class='subtitle'>{{ title }}</h3>
		<div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" v-model="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div> 
		</div>
		<div class="field">
            <div class="control has-icons-left">
              <input class="input" type="password" v-model="password" placeholder="Пароль">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div> 
        </div>
        <p class="help is-danger" v-if="errorMessage">{{errorMessage}}</p>
        <div class="field">
            <div class="control">
              <button class="button is-success">Войти</button>
            </div> 
    </div>
    </form>
    `
  }


  new Vue({
    el: '#app',
    components: { 'login-user': LoginUser },
    mounted() {
        if (localStorage.getItem('userId') != null) {
            window.location.href = '/surveys/';
        }
    }
  })

  </script>
</body>
</html>

