<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Questions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title">Вопросы</h2>
        <form class="form" @submit.prevent="validate">
          <template v-for="(question,index) in questions">
            <div class="field" v-if="question.type != 9 && question.type != 6">
              <label class="label">{{ question.name }}</label>
                <div class="control">
                  <input class="input" type="text" placeholder="e.g Alex Smith" v-model="question.Answers">
                </div>
            </div>
            <div class="field" v-if="question.type == 6">
              <label class="label">{{ question.name }}</label>
                <div class="control">
                  <div class="field" v-for="(ans,key) in question.Answers">
                    <label class="radio" >
                      <input type="radio" name="answer" :value="ans.name" v-model="oneChoose[index]">
                        {{ans.name}}
                      </label>
                  </div>
                </div>
            </div>
            <div class="field" v-if="question.type == 9">
              <label class="label">{{ question.name }}</label>
                <div class="field" v-for="answer in question.Answers">
                  <label class="checkbox" >
                    <input type="checkbox" name="answer" label="answer.name" value="answer.name" v-model="answer.checked">
                      {{answer.name}}
                    </label>
                </div>
              </div>
            </div>
          </template>
          <div class="field" v-if="questions">
            <div class="control">
              <button class="button is-success">Отправить</button>
            </div> 
          </div>
        </form>
    </section>
  </div>
  <script>



  new Vue({
    el: '#app',
    data: {
      questions: [],
      oneChoose: [],
      respondentanswer: {
        name: '',
        content: '',
        surveyId: '',
        userId: localStorage.getItem('userId')
      },
      apiURL: '/api/questions',
      typeOptions: [
          { text: 'Выберите тип вопроса', value: '' },
          { text: 'Текст (однострочный)', value: 0 },
          { text: 'Текст (многострочный)', value: 1 },
          { text: 'Email адрес', value: 2 },
          { text: 'ИНН (12 чисел)', value: 3 },
          { text: 'Целое число', value: 4 },
          { text: 'Вещественное число', value: 5 },
          { text: 'Список ответов (один вариант ответа)', value: 6 },
          { text: 'Дата', value: 7 },
          { text: 'Телефон', value: 8 },
          { text: 'Список ответов (много вариантов ответа)', value: 9 }
        ]
    },
    created: function(){
      var pageURL =  window.location.href;
      var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      this.respondentanswer.surveyId = lastURLSegment;
    },
    methods: {
      addSurvey (survey) {
        return axios.post('/api/respondents', survey)
          .then((response) => {
            
          })
      },
      validate() {
        let value = 0;
        let question = '';
        let answer = '';
        for (value; value< this.questions.length; value++) {
          question = this.questions[value].name;
          this.respondentanswer.content += "<h3>" + question + "</h3>";
          if (this.questions[value].type == 2) {
              this.respondentanswer.name = this.questions[value].Answers;
          }
          if (this.questions[value].type == 9) {
              for (let i=0; i< this.questions[value].Answers.length; i++) {
                  if (this.questions[value].Answers[i].checked == true) {
                      this.respondentanswer.content += "<p>" + this.questions[value].Answers[i].name + "</p>";
                  }
              }
          }
          if (this.questions[value].type == 6) {
            this.respondentanswer.content += "<p>" + this.oneChoose[value] + "</p>";
          }
          else if(this.questions[value].type != 9 && this.questions[value].type != 6) {
              answer = this.questions[value].Answers;
              this.respondentanswer.content += "<p>" + answer + "</p>";
          }
        }
        this.addSurvey(this.respondentanswer);
      }
    },
    beforeMount () {
      var pageURL =  window.location.href;
      var idUrl = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      axios.get(this.apiURL)
        .then((response) => {
          const q = []
          response.data.forEach(function(element) {
            if (element.surveyId == idUrl) {
              q.push(element);
            }
          });
          this.questions = q
        })
    }
  })

  </script>
</body>
</html>

