<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/icon-180x180.png">
  <meta name="apple-mobile-web-app-title" content="Опросник">
  <title>Questions</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    .section-container {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
    .logo{
      height: 50px;
    }
    @media only screen and (max-width: 400px) {
      .logo{
        height: 40px;
      }
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <section class="section section-container" style="padding-top: 24px; padding-bottom: 5px;">
        <h2 class="title is-inline-block">Вопросы</h2>
        <div class="is-pulled-right">
          <img class="logo" src="/images/logo1.png" alt="Technodom">
        </div>
        <form class="form" @submit.prevent="validate">
          <template v-for="(question,index) in questions">
            <div class="field" v-if="question.type != 9 && question.type != 6">
              <label class="label">{{ question.name }}</label>
                <div class="control">
                  <input class="input" type="text" :placeholder="placeholder[question.type]" v-model="question.Answers">
                </div>
            </div>
            <div class="field" v-if="question.type == 6">
              <label class="label">{{ question.name }}</label>
                <div class="control">
                  <div class="field" v-for="(ans,key) in question.Answers">
                    <label class="radio" >
                      <input type="radio" name="answer" :value="ans.name" v-model="oneChoose[index]">
                        {{ans.name}}
                      </label>
                  </div>
                </div>
            </div>
            <div class="field" v-if="question.type == 9">
              <label class="label">{{ question.name }}</label>
                <div class="field" v-for="answer in question.Answers">
                  <label class="checkbox" >
                    <input type="checkbox" name="answer" label="answer.name" value="answer.name" v-model="answer.checked">
                      {{answer.name}}
                    </label>
                </div>
              </div>
            </div>
          </template>
          <div class="field">
            <p class="help is-danger" v-for="error in errors">{{error}}</p>
          </div>
          <div class="field is-grouped" v-if="questions">
            <div class="control">
              <button class="button is-success">Отправить</button>
            </div>
            <p class="control">
              <a class="button" href="/surveys">
                Назад
              </a>
            </p>
          </div>
        </form>
    </section>
  </div>
  <script>



  new Vue({
    el: '#app',
    data: {
      errors: [],
      questions: [],
      oneChoose: [],
      placeholder: [
        'Текст (однострочный)',
        'Текст (многострочный)',
        'info@technodom.kz',
        '981630432567',
        'Целое число',
        'Вещественное число',
        'Список ответов (один вариант ответа)',
        '23.05.2019',
        '87775552233',
        'Список ответов (много вариантов ответа)'
      ],
      respondentanswer: {
        name: '',
        content: '',
        surveyId: '',
        userId: localStorage.getItem('userId')
      },
      apiURL: '/api/questions'
    },
    created: function(){
      var pageURL =  window.location.href;
      var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      this.respondentanswer.surveyId = lastURLSegment;
    },
    methods: {
      addSurvey (survey) {
        return axios.post('/api/respondents', survey)
          .then((response) => {
            window.location.href = '/surveys/';
          })
      },
      sendToSputnic (value) {
        axios.post("https://esputnik.com.ua/api/v1/event", {
                "eventTypeKey" : "ApplicationOffline",
                "keyValue" : value,
                "params": [
                    {
                        "name": "EmailAddress",
                        "value": value
                    }
                ]
            },
            {
                auth: {
                    username: 'techodom.api@esputnik.com.ua',
                    password: 'techno123dom'
                }
            })
            .then(res => console.log('Send to eSputnic!'))
      },
      validEmail: function (email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
      validPhone: function (phone) {
        var re = /^\d{11}$/;
        return re.test(phone);
      },
      validate() {
        let value = 0;
        let question = '';
        let answer = '';
        let json = {};
        this.errors = [];
        for (value; value< this.questions.length; value++) {
          // question = this.questions[value].name;
          // this.respondentanswer.content += "<h3>" + question + "</h3>";
          
          if (this.questions[value].type == 2) {
            if (!this.questions[value].Answers) {
              this.errors.push('Укажите электронную почту.');
            } else if (!this.validEmail(this.questions[value].Answers)) {
              this.errors.push('Укажите корректный адрес электронной почты.');
            } else {
              this.respondentanswer.name = this.questions[value].Answers;
              this.sendToSputnic(this.respondentanswer.name);
            }
          }
          if (this.questions[value].type == 8) {
            let number = this.questions[value].Answers.replace(/[^0-9]/, '');
            if (number < 80000000000 && number > 70000000000) {
              number = parseInt(number) + 10000000000;
            }
            if (!this.questions[value].Answers) {
              this.errors.push('Укажите номер телефона.');
            } else if (!this.validPhone(number)) {
              this.errors.push('Укажите корректный номер телефона. Пример 87775552211');
            } else {
              json[this.questions[value].name] = number;
            }
          }
          if (this.questions[value].type == 9) {
            json[this.questions[value].name] = [];
              for (let i=0; i< this.questions[value].Answers.length; i++) {
                  if (this.questions[value].Answers[i].checked == true) {
                    // this.respondentanswer.content += "<p>" + this.questions[value].Answers[i].name + "</p>";
                    json[this.questions[value].name].push(this.questions[value].Answers[i].name);
                  }
              }
          }
          if (this.questions[value].type == 6) {
            // this.respondentanswer.content += "<p>" + this.oneChoose[value] + "</p>";
            json[this.questions[value].name] = this.oneChoose[value];
          }
          else if(this.questions[value].type != 9 && this.questions[value].type != 6 && this.questions[value].type != 8) {
              answer = this.questions[value].Answers;
              // this.respondentanswer.content += "<p>" + answer + "</p>";
              json[this.questions[value].name] = this.questions[value].Answers;
          }
        }
        if (!this.errors.length){
          this.respondentanswer.content = JSON.stringify(json);
          this.addSurvey(this.respondentanswer);
        } else {

        }

      }
    },
    beforeMount () {
      var pageURL =  window.location.href;
      var idUrl = pageURL.substr(pageURL.lastIndexOf('/') + 1);
      axios.get(this.apiURL)
        .then((response) => {
          const q = []
          response.data.forEach(function(element) {
            if (element.surveyId == idUrl) {
              q.push(element);
            }
          });
          this.questions = q
        })
    }
  })

  </script>
</body>
</html>

